<!--/*
========================================================
; Title: WEB-450 - Nodebucket - Sprint 1
; Author: Professor Krasso
; Modified by: Gustavo Roo Gonzalez
; Date: 27 March 2022
; Description: Nodebucket App
========================================================
*/-->

<div fxLayout="column" class="main-welcome">
  <div fxFlex>
    <h1 class="title">
      Welcome to the Nodebucket Project <br />
      <span class="subtitle"> Click on "Create Task" to add a new task to your To-Do list, then you can drag and drop them as completed when needed. </span>
    </h1>
  </div>

  <div fxFlex>
    <div class="task-container" fxLayout="column">
      <button mat-flat-button color="primary" (click)="openCreateTaskDialog()">Create Task</button>
    </div>
  </div>
  <br />
  <br />

  <!--Left Column (To-Do Tasks)-->
  <div fxFlex>
    <div fxLayout="row" fxLayoutGap="15px" class="task-container">
      <div fxFlex>
        <mat-card class="mat-elevation-z0">
          <mat-card-title>To-Do</mat-card-title>
          <mat-card-content>
            <div class="task-column">
              <div *ngFor="let item of todo">
                <mat-card class="mat-elevation-z0 task-card">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex>
                        {{ item.text }}
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <!--Right Column (Done Tasks)-->
      <div fxFlex>
        <mat-card class="mat-elevation-z0">
          <mat-card-title>Done</mat-card-title>
          <mat-card-content>
            <div class="task-column">
              <div *ngFor="let item of done">
                <mat-card class="mat-elevation-z0 task-card">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex>
                        {{ item.text }}
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
