<!--/*
========================================================
; Title: WEB-450 - Nodebucket - Sprint 2
; Author: Gustavo Roo Gonzalez
; Date: 27 March 2022
; Description: Nodebucket App
========================================================
*/-->

<!-- Main container -->
<div fxLayout fxLayout="column">
  <!-- Main container heading styling -->
  <div fxLayout fxLayout="column" fxLayoutAlign="center">
    <h1 class="heading">Contact Us</h1>
  </div>

  <!-- Div with both mat-cards -->
  <mat-container fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">
    <!-- Left mat-card -->
    <mat-card class="container" fxFlex fxLayout="column">
      <mat-card-title fxFlex fxLayoutAlign="center center"> <mat-icon>call</mat-icon>Call </mat-card-title>
      <mat-card-content fxFlex fxLayoutAlign="center center">
        <p>123-456-7890</p>
      </mat-card-content>
    </mat-card>

    <!-- Right mat-card -->
    <mat-card class="container" fxFlex fxLayout="column">
      <mat-card-title fxFlex fxLayoutAlign="center center"> <mat-icon>home</mat-icon>Address </mat-card-title>
      <mat-card-content fxFlex fxLayoutAlign="center center">
        <p>
          123 Main St<br />
          Orlando, Florida, 32817
        </p>
      </mat-card-content>
    </mat-card>
  </mat-container>
</div>
