<!--/*
========================================================
; Title: WEB-450 - Nodebucket - Sprint 2
; Author: Gustavo Roo Gonzalez
; Date: 28 March 2022
; Description: Nodebucket App
========================================================
*/-->

<!-- Top div -->
<div class="main" fxFlex fxLayout="column" fxLayoutGap="40px">
  <div class="top" fxFlex="330px">
    <mat-card fxFlex="30%">
      <img mat-card-image src="assets/annie-spratt-QckxruozjRg-unsplash.jpg" />
      <h3 class="left-attribution">Photo by @anniespratt from Unsplash.com</h3>
    </mat-card>
  </div>

  <!-- Middle div -->
  <div class="middle" fxFlex="715px" fxLayout="row">
    <mat-card class="text" fxFlex="70%">
      <mat-card-title>About Us</mat-card-title>
      <p>
        Nodebucket was born after our group of developers got together to create an app where users could create, manage and delete tasks off a to-do list. After weeks in the works, the app was developed and optimized for easy access and use, with user-friendly features like drag and drop. We
        understand your demands and have a responsive team that is continuously seeking user feedback and will consistently hit new heights, with new features and growth.
      </p>
    </mat-card>
  </div>

  <!-- Bottom div -->
  <div class="bottom" fxFlex="330px" fxLayout="row" fxLayoutGap="320px">
    <mat-card class="left text" fxFlex fxFlexOffset="225px">
      <mat-card-title>Our Mission</mat-card-title>
      <p class="bottom-left">
        Our mission is simple: to organize the world one list at a time and make everybody efficient by completing tasks with our fantastic tool. We began with the premise that occasionally, a sticky note will not do the work. You frequently think of lists with checkmarks and underlines that get
        lost or misplaced. With Nodebucket, you can rest confident that your goals are safe with us and will not be removed until you say so. The most excellent method to achieve your goals is to make them straightforward. What priority has your tasks? With Nodebucket, you can prioritize them.
      </p>
    </mat-card>
    <mat-card class="right" fxFlex="28%">
      <img class="right" mat-card-image src="assets/thomas-bormans-pcpsVsyFp_s-unsplash.jpg" height="115%" />
      <h3 class="right-attribution">Photo by @thomasbormans from Unsplash.com</h3>
    </mat-card>
  </div>
</div>
