<!--/*
========================================================
; Title: WEB-450 - Nodebucket - Sprint 2
; Author: Gustavo Roo Gonzalez
; Date: 28 March 2022
; Description: Nodebucket App
========================================================
*/-->

<!-- Top div -->
<div class="main" fxFlex fxLayout="column" fxLayoutGap="40px">
  <div class="top" fxFlex="330px">
    <mat-card fxFlex="30%">
      <img mat-card-image src="assets/annie-spratt-QckxruozjRg-unsplash.jpg" />
      <h3 class="left-attribution">Photo by @anniespratt from Unsplash.com</h3>
    </mat-card>
  </div>

  <!-- Middle div -->
  <div class="middle" fxFlex="735px" fxLayout="row">
    <mat-card class="text" fxFlex="70%">
      <mat-card-title>About Us</mat-card-title>
      <p>Nodebucket was born after our group of developers got together to create an app where users could create, manage and delete tasks off a to-do list. After weeks in the works, the app was developed and optimized for easy access and use, with user-friendly features like drag and drop.</p>
    </mat-card>
  </div>

  <!-- Bottom div -->
  <div class="bottom" fxFlex="330px" fxLayout="row" fxLayoutGap="330px">
    <mat-card class="left text" fxFlex fxFlexOffset="225px">
      <mat-card-title>Our Mission</mat-card-title>
      <p class="bottom-left">Our mission is simple: to organize the world one list at a time and make everybody efficient by completing tasks with our fantastic tool.</p>
    </mat-card>
    <mat-card class="right" fxFlex="28%">
      <img class="right" mat-card-image src="assets/thomas-bormans-pcpsVsyFp_s-unsplash.jpg" height="115%" />
      <h3 class="right-attribution">Photo by @thomasbormans from Unsplash.com</h3>
    </mat-card>
  </div>
</div>
